/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

ul{
  list-style-type: none;
}

/* # BODY */



/* # HEADER */


/* # UPPER HEADER */
.upper-header{
  display: flex;
  flex-direction: row;
  background-color: yellow;
  padding:20px 5px;
  justify-content:space-between;

}

.upper-header > * {
  border: dashed;
  
}

.upper-header ul li {
  display: inline;

}

/* # UP HEADER LOGO */

.up-header-logo{

}

/* UP HEADER LOGIN*/

.up-header-login{

}

/* LOWER HEADER */

.lw-header-container{
  height: 800px;
  width: 500px;
}

/* # MAIN */



/* # FOOTER */