/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

/* # BODY */



/* # HEADER */
.upper-header{
  display: flex;
  flex-direction: row;
  background-color: yellow;
  padding:20px 5px;
  justify-content:space-between;
  

}

.upper-header > * {
  border: dashed;
  
}

.up-header-logo{

}

.up-header-info > span{
 flex-direction: row;
}




.up-header-button{
align-items: flex-end;
}

/* # UPPER HEADER */




/* # MAIN */



/* # FOOTER */